/* All pages */
body {
    background-color: #E9DBC9;
    color: #2F4858;
}

/* Navbar */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item > a {
  color: #2F4858 !important;;
}

/* Adjust position of alert container so it doesn't push the hero img */

#alert-container {
  position: absolute;
  z-index: 1;
  margin: 0 auto; 
  left: 0; 
  right: 0;
  text-align: center;
}

#hero-img {
    position: relative;
}


/* Adjust hero img responsiveness */
.image1 {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    max-height: 992px;
}

/* Footer */
#footer > a {
  color: #2F4858 ;
  margin: 10px;
}

