/* All pages */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');

body {
    background-color: #E9DBC9;
    color: #005B4B;
    margin-top: 70px;
    font-family: 'Karla', sans-serif;
}

h1 {
  padding-top: 15px;
}

h3 {
  padding-top: 10px;
}

p {
  font-size: 20px;
}

/* Navbar */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-item > a {
  color: #005B4B !important;;
}

.sign-link {
  font-size: 20px;
}

/* Adjust position of alert container so it doesn't push the hero img */

#alert-container {
  position: absolute;
  z-index: 2;
  margin: 10px auto 0; 
  left: 0; 
  right: 0;
  text-align: center;
}

/* Target information in the index page */
.index-info {
  position: absolute;
  z-index: 1;
  padding-top: 25px;
  padding-bottom: 25px;
  left: 0; 
  right: 0;
  text-align: center;
  background-color: #e9dbc9c9;
}

.index-info > h1 {
  margin-bottom: 30px;
  margin-top: 0;
}

.index-info > p {
  margin-top: 20px;
}

/* Hero image */
#hero-img {
    position: relative;
}

/* Adjust hero img responsiveness */
.hero-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    max-height: 600px;
}

/* Give margin to headings */
.pdn-h {
  padding-top: 15px;
}

/* Give margin to buttons */
.mgn-btn {
  margin-top: 15px;
}

/* My bookings */
.no-book-p  {
  font-size: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

#my-bookings-container {
  padding-bottom: 70px;
}

/* Remove * from form fields */
.asteriskField {
  display: none;
}

/* Form */
form {
  margin-top: 20px;
}

.book-h2 {
  margin-top: 20px;
}

/* My bookings cards */
.card-t {
  font-size: 1.2em;
}
.card-mgn {
  margin: 5px;
}

/* Map */
#map > h2 {
  padding-top: 10px;
  padding-bottom: 20px;
}

#map-container {
  background-color: #BCBEA9;
  padding-top: 10px;
  padding-bottom: 20px;
}

#map {
  width: 75%;
}

/* Contact Us */
#contact-us {
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: #f8f9fa;
}

#contact-us > h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Our Rooms page */
.rooms-div {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Footer */
#footer > a {
  color: #005B4B ;
  margin: 10px;
}

/*index-info responsive for larger screens */
@media only screen and (min-width: 835px) {
  .index-info {
    margin-top: 100px;
  }
  #map {
    width: 50%;
  }
}

/*index-info responsive for smaller screens */
@media only screen and (max-width: 835px) {
  .index-info {
    position: initial;
    padding-top: 15px;
  }
  .hero-image {
    height: auto;
  }
  .main-div {
    margin: auto !important;
  }
  h1 {
    padding-top: 0;
  }
}