{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if user.is_authenticated %}

            <div class="text-center">
                <h1>Booking Form</h1>
            </div>
            
            <form method="POST" action="/booknow/">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success">Book Now</button>
                </div>
            </form>
            {% else %}
            
            <div class="text-center">
                <h1>Please sign in to book a room.</h1>
                <a href="{% url 'account_login' %}" class="btn btn-primary mgn-btn">Sign in</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}