{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if user.is_authenticated %}
            <h1>Booking form</h1>

            <form method="POST" action="/booknow/">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <p>
                        <button type="submit">Book Now</button>
                    </p>
                </div>
            </form>
            {% else %}

            <h2>Please Sign in to do a booking</h2>
            <a href="{% url 'account_login' %}">
                <button>Sign in</button>
            </a>
            
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}