{% extends "base.html" %}

{% block content %}
    <div class="main-div mx-5">
        <div id="hero-img" class="container-fluid">
            <div class="row">
                <img class="img-fluid hero-image" src="https://res.cloudinary.com/marcellomuy/hotel-hero-img.png" alt="Hotel lobby image">
                <div class="col-md-8 offset-md-2 index-info">
                    <h1>Marco Polo Hotel</h1>
                    <p><strong>Located in Bray, the biggest town in County Wicklow, Ireland. 
                        It is known as the Gateway to the Garden of Ireland and is the longest established seaside town in Ireland. 
                        The hotel offers 120 comfortably furnished guest rooms. 
                        All rooms have cable TV and wireless internet access. 
                        All standard guest rooms are equipped with private bathrooms, hairdryers, spacious work desks, 
                        direct-dial telephones, and satellite television.</strong></p>
                    <p><strong>We look forward to seeing you at Marco Polo Hotel!</strong></p>
                    <div>
                        <a href="{% url 'booknow' %}" class="btn btn-success">Book Now</a>
                        <a href="{% url 'ourrooms' %}" class="btn btn-info">Our Rooms</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="map-container">
            <div id="map" class="container text-center">
                <h2>You can find us at Bray Seafront</h2>
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="
                        https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6759.4299839180985!2d-6.096527308162241!3d53.
                        20315525395623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xde581fec26c81f03!2sBray%
                        20Seafront!5e0!3m2!1sen!2sie!4v1649236701278!5m2!1sen!2sie
                        " 
                        allowfullscreen="" loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
        <div id="contact-us" class="container-fluid text-center">
            <h2>Contact Us</h2>
            <p>
                Address: Bray Seafront, Bray, Co. Wicklow<br>
                Email: marcopolohotel@email.com<br>
                Phone: 353 123 456 789<br>
            </p>
        </div>
    </div>
{% endblock %}