{% extends "base.html" %}

{% block content %}

<div id="my-bookings-container" class="container text-center">
        {% if user.is_authenticated %}
        <h1>My Bookings</h1>
            <h2 class="book-h2">Upcoming:</h2>
            <div class="row justify-content-center">            
                {% for booking in upcoming_bookings %}
                        <!-- Card to display bookings -->
                        <div class="card card-mgn">
                            <div class="card-body">
                                <h3 class="card-title card-t">Check-in: {{ booking.check_in_date|date:"d/m/Y" }}</h3>
                                <p class="card-text">Nights: {{ booking.number_of_nights }}</p>
                                <p class="card-text">Room: {{ booking.type_of_room}}</p>
                                <p class="card-text">Guests: {{ booking.number_of_guests}}</p>
                                <a href="/update/{{ booking.id }}" class="btn btn-primary">Update</a>
                                <a href="/cancel/{{ booking.id }}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    {% empty %}
                    <p class="no-book-p">You don't have any Upcoming bookings</p>
                {% endfor %}
            </div>
            <h2>Past:</h2>
            <div class="row justify-content-center">                
                {% for booking in past_bookings %}
                        <!-- Card to display bookings -->                 
                        <div class="card card-mgn">
                            <div class="card-body">
                                <h3 class="card-title card-t">Check-in: {{ booking.check_in_date|date:"d/m/Y" }}</h3>
                                <p class="card-text">Nights: {{ booking.number_of_nights }}</p>
                                <p class="card-text">Room: {{ booking.type_of_room}}</p>
                                <p class="card-text">Guests: {{ booking.number_of_guests}}</p>
                            </div>
                        </div>
                    {% empty %}
                    <p class="no-book-p">You don't have any Past Bookings</p>                  
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h1 class="pdn-h">Please sign in to view your bookings.</h1>
                <a href="{% url 'account_login' %}">
                <button class="btn btn-primary mgn-btn">Sign in</button>
                </a>
            </div>
            
        {% endif %}
</div>
{%endblock%}