{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">

            <h1>Update your Booking</h1>

            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <p>
                        <button type="submit">Update Booking</button>
                    </p>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}